@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&family=Poppins:wght@200;400;700&display=swap');

*, *::before, *::after { box-sizing: border-box; }

html {  font-size: 16px; line-height: 1.5em;   scroll-behavior: smooth; }

body { display: block; min-height: 100vh; margin: 0; text-rendering: optimizeSpeed; font-family: 'Poppins', sans-serif;  }



/* GLOBAL STYLES
-------------------------------------------------- */

.navbar{font-family: 'Open Sans', sans-serif;}
  
.hero img{height: 30rem; 
	@media (min-width:992px){height: 42rem;}
	}

.hero-mask{background: rgba(51, 240, 51, 0.8);}
.hero-mask-text{position: absolute; top: 12%; right: 20%; left: 20%; 
@media (min-width:992px) {left: 50%; top: 10%;}
@media (min-width:1470px){top: 25%;}}
.hero h1{ color: #0d0c0c;  }
.hero p{color: white;  }
.hero a{padding-left: 2rem; padding-right: 2rem;
	@media (min-width:390px){ padding-left: 4rem; padding-right: 4rem;}}
 

.marketing h2{ 	line-height: 1; letter-spacing: -.05rem; }
.marketing h2 span{color: #33f033;}
.about-div{height: 20rem; width: 20rem; max-width: 100%;
	@media (min-width:390px){height: 25rem; width: 25rem; } }
.about {top:10%; 
	@media (min-width:420px){left: -15%;}}
.margin-bottom{margin-bottom: 5rem;
	@media (min-width:1000px){margin-bottom: 10rem;}
}

.gallery-thumb{ height: 20rem;
	@media (min-width: 576px){height: 16rem};
	@media (min-width: 992px){height: 18rem};
	@media (min-width: 1200px){height: 23rem};
	}
.card img{max-width: 100%; padding-left: 0; height: 20rem;
	@media (min-width: 576px){height: 16rem};
	@media (min-width: 992px){height: 18rem};
	@media (min-width: 1200px){height: 23rem}}

.slider{ height: 30vh;
	@media (min-width: 650px){height: 40vh;}
	@media (min-width: 800px){height: 50vh;}
	}
.slide{top:0; right: 0; max-height: 100%; transition: transform 1s ease-in-out ;
	@media (min-width: 992x){ top:20%}}
 .container .btn-black, .btn-black2{background: #000; border: none; padding: 0.2rem 1rem;}
 .container .btn-green, .btn-green2{background: #33f033; border: none; padding: 0.2rem 1rem;}

 .card-box{height: 28rem;
	@media (min-width: 400px){height: 33rem;}
}

.new-ideas-text{ top: 40%; left: 50%; }
.image-news-right {
	@media (min-width:420px){right: 5%;}}
.image-news-left{
	@media (min-width:420px){left: 5%;}}


.card-testimonial{border: 1px solid #33f033; border-radius: 0.5rem; height: 20rem;
	@media (min-width: 800px){height: 30rem;}}
.card-testimonial img{top: -5rem; left: 2rem; border: 1px solid #33f033}
.slider-testimonial{height: 35rem;
	@media (min-width: 800px){height: 45rem}}
.slide-testimonial{top: 10%; transition: transform 1s ease-in-out ;}

.contact{height: 50%;}
.contact-img{height: 80vh;}
.form-contact {top: 8%; left: 20%;
	@media (min-width: 1200px){left: 10%;}}
.map{top:19%; right: 10%;
	@media (min-width: 1500px){right: 20%;}}

.subscribe{ border-bottom: 2px solid white; bottom: 10%;right: 15%;
	@media (min-width: 990px){right: 25% ;bottom: 25%;}}
.subscribe div{width: 15rem;
	@media (min-width: 990px){width: 25rem;}}

